services:
  # --- DATABASE ---
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${MASTER_DB_USER}
      POSTGRES_PASSWORD: ${MASTER_DB_PASSWORD}
      POSTGRES_DB: ${MASTER_DB_NAME}
      AUTH_DB_NAME: ${AUTH_DB_NAME}
      AUTH_DB_USER: ${AUTH_DB_USER}
      AUTH_DB_PASSWORD: ${AUTH_DB_PASSWORD}
      CORE_DB_NAME: ${CORE_DB_NAME}
      CORE_DB_USER: ${CORE_DB_USER}
      CORE_DB_PASSWORD: ${CORE_DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./infra/postgres/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  auth:
    build:
      context: ./services/auth
      dockerfile: Dockerfile
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgres://${AUTH_DB_USER}:${AUTH_DB_PASSWORD}@db:5432/${AUTH_DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=8080
      - REDIS_ADDR=redis:6379
    ports:
      - "8080:8080"
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data: